In [3]:
# Import necessary libraries
import pandas as pd
%pip install SQLAlchemy
%pip install mysqlclient
from sqlalchemy import create_engine

Requirement already satisfied: SQLAlchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from SQLAlchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from SQLAlchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysqlclient in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.

In [10]:
# Establish connection to the database
engine = create_engine(f'mysql+mysqldb://admin:isba_4715@isba-dev-01.cnuo66oue0ny.us-east-1.rds.amazonaws.com/sql_project')

## Which EU region (not including Cyprus) has the lowest average air freight price estimate according to Freightos?

In [11]:
query1 = f"""
SELECT eu.UN_Location_Code, AVG_Price_Estimate_USD, eu.Region, AVG(AVG_Price_Estimate_USD) OVER (PARTITION BY eu.Region) AS AVG_Price_per_Region
FROM eu_unlocodes eu JOIN air_freight_price_estimate afpe ON eu.UN_Location_Code = afpe.UN_Location_Code
ORDER BY AVG_Price_per_Region ASC
"""
df1 = pd.read_sql(query1, engine)

In [12]:
df1

   UN_Location_Code  AVG_Price_Estimate_USD  Region  AVG_Price_per_Region
0             BEBRU                  31.590    West             33.495833
1             FRPAR                  30.150    West             33.495833
2             DEBER                  33.225    West             33.495833
3             ATVIE                  37.065    West             33.495833
4             LULUX                  40.330    West             33.495833
5             NLAMS                  28.615    West             33.495833
6             BGSOF                  59.920    East             42.204167
7             PLWAW                  41.390    East             42.204167
8             CZPRG                  35.340    East             42.204167
9             HUBUD                  41.580    East             42.204167
10            ROBUH                  34.090    East             42.204167
11            SKBTS                  40.905    East             42.204167
12            LVRIX                  59.920  North              45.048571
13            SESTO                  37.640  North              45.048571
14            DKCPH                  41.100  North              45.048571
15            EETLL                  59.345  North              45.048571
16            FIHEL                  38.695  North              45.048571
17            IEDUB                  35.815  North              45.048571
18            LTVNO                  42.825  North              45.048571
19            PTLIS                  34.090   South             46.229286
20            ESMAD                  30.345   South             46.229286
21            ITROM                  35.430   South             46.229286
22            MTMLA                  52.525   South             46.229286
23            GRATH                  41.870   South             46.229286
24            HRZAG                  74.710   South             46.229286
25            SILJU                  54.635   South             46.229286

Insight: Air freight to the west region of EU has the lowest average price estimate.

Recommendation: Target customers in the west region of the EU.

Prediction: Lower cost = more margins or more demand because lower product price.

In [14]:
df1.to_csv('API_q1.csv', index=False)

## How does the price of air freight in non_Eurozone countries compared to those in the Eurozone (not including Cyprus)?

In [15]:
query2 = f"""
WITH Eurozone_Countries AS ( 
SELECT eu.Eurozone, COUNT(eu.UN_Location_Code) AS Number_of_Countries
FROM eu_unlocodes eu
GROUP BY eu.Eurozone 
),
Eurozone_Price AS (
SELECT eu.Eurozone, AVG(afpe.AVG_Price_Estimate_USD) AS Eurozone_Price_Estimate_USD
FROM eu_unlocodes eu JOIN air_freight_price_estimate afpe ON eu.UN_Location_Code = afpe.UN_Location_Code
GROUP BY eu.Eurozone
)
SELECT ep.Eurozone, Number_of_Countries, Eurozone_Price_Estimate_USD
FROM Eurozone_Countries ec JOIN Eurozone_Price ep ON ec.Eurozone = ep.Eurozone
"""
df2 = pd.read_sql(query2, engine)

In [16]:
df2

  Eurozone  Number_of_Countries  Eurozone_Price_Estimate_USD
0      Yes                   19                       42.215
1       No                    7                       41.580

Insight: Eurozone does not impact air freight prices.

Recommendation: Focus on other factors that affect cost.

Prediction: More cost savings opportunities.

In [17]:
df2.to_csv('API_q2.csv', index=False)