In [2]:
# Import necessary libraries
import pandas as pd 
import requests
import os
%pip install openai
from openai import OpenAI
import json
%pip install SQLAlchemy
%pip install mysqlclient
from sqlalchemy import create_engine

Requirement already satisfied: openai in /usr/local/python/3.10.13/lib/python3.10/site-packages (1.23.6)
Requirement already satisfied: anyio<5,>=3.5.0 in /home/codespace/.local/lib/python3.10/site-packages (from openai) (4.3.0)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /home/codespace/.local/lib/python3.10/site-packages (from openai) (0.27.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openai) (2.7.1)
Requirement already satisfied: sniffio in /home/codespace/.local/lib/python3.10/site-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openai) (4.66.2)
Requirement already satisfied: typing-extensions<5,>=4.7 in /home/codespace/.local/lib/python3.10/site-packages (from openai) (4.10.0)
Requirement already satisfied: idna>=2.8 in /home/codespace/.local/lib/python3.10/site-packages (from anyio<5,>=3.5.0->openai) (3.6)
Requirement already satisfied: exceptiongroup>=1.0.2 in /home/codespace/.local/lib/python3.10/site-packages (from anyio<5,>=3.5.0->openai) (1.2.0)
Requirement already satisfied: certifi in /home/codespace/.local/lib/python3.10/site-packages (from httpx<1,>=0.23.0->openai) (2024.2.2)
Requirement already satisfied: httpcore==1.* in /home/codespace/.local/lib/python3.10/site-packages (from httpx<1,>=0.23.0->openai) (1.0.5)
Requirement already satisfied: h11<0.15,>=0.13 in /home/codespace/.local/lib/python3.10/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pydantic<3,>=1.9.0->openai) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pydantic<3,>=1.9.0->openai) (2.18.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from SQLAlchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from SQLAlchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysqlclient in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.

In [177]:
# Set the API key from secrets
openai_api_key = os.getenv('OPENAI_API_KEY')

In [178]:
client = OpenAI(api_key=openai_api_key)

In [10]:
# Read the CSV data
data = pd.read_csv('eu_countries.csv')

# List to store responses
responses1 = []

# Iterate over the country values
for country in data['eu_country']:
    response = client.completions.create(
        model="gpt-3.5-turbo-instruct",
        prompt=f"What is the capital city of {country}?",
        max_tokens=100
    )
    # Append the response text to the list
    responses1.append(response.choices[0].text)

In [11]:
responses1

['\n\nThe capital city of Austria is Vienna.',
 '\n\nBrussels.',
 '\n\nSofia',
 '\n\nThe capital city of Croatia is Zagreb.',
 '\n\nThe capital city of Cyprus is Nicosia.',
 '\n\nThe capital city of Czech Republic is Prague.',
 '\n\nThe capital city of Denmark is Copenhagen.',
 'The capital city of Estonia is Tallinn.',
 '\n\nHelsinki',
 '\n\nThe capital city of France is Paris.',
 '\n\nThe capital city of Germany is Berlin.',
 '\n\nThe capital city of Greece is Athens. ',
 '\nThe capital city of Hungary is Budapest. ',
 '\n\nThe capital city of Ireland is Dublin.',
 '\n\nThe capital city of Italy is Rome. ',
 '\n\nRiga is the capital and largest city of Latvia.',
 '\n\nVilnius.',
 '\n\nThe capital city of Luxembourg is Luxembourg City.',
 '\n\nThe capital city of Malta is Valletta.',
 '\n\nThe capital city of the Netherlands is Amsterdam. ',
 '\n\nThe capital city of Poland is Warsaw.',
 '\n\nThe capital city of Portugal is Lisbon.',
 '\n\nThe capital city of Romania is Bucharest.',
 '\n\nThe capital city of Slovakia is Bratislava.',
 '\n\nLjubljana',
 '\n\nThe capital city of Spain is Madrid.',
 '\n\nThe capital city of Sweden is Stockholm.']

In [12]:
# List to store responses
responses2 = []

# Iterate over the capital city values
for city in responses1:
    response = client.completions.create(
        model="gpt-3.5-turbo-instruct",
        prompt=f"What is the UN/LOCODE (United Nations Code for Trade and Transport Locations) of {city}?",
        max_tokens=100
    )
    # Append the response text to the list
    responses2.append(response.choices[0].text)

In [13]:
responses2

['\n\nThe UN/LOCODE for Vienna, Austria is AT VIE.',
 '\n\nBE BRU ',
 '\n\nThe UN/LOCODE for Sofia, Bulgaria is BGSOF.',
 '\n\nThe UN/LOCODE for Zagreb, Croatia is HR ZAG.',
 '\n\nThe UN/LOCODE for Nicosia, Cyprus is CY NIC.',
 '\n\nThe UN/LOCODE for Prague, Czech Republic is CZ PRG.',
 '\n\nThe UN/LOCODE for Copenhagen, Denmark is DK CPH.',
 '\n\nThe UN/LOCODE for Tallinn, Estonia is EETLL.',
 '\n\nThe UN/LOCODE for Helsinki is FI HEL.',
 '\n\nThe UN/LOCODE for Paris, France is FR PAR.',
 '\n\nThe UN/LOCODE for Berlin, Germany is DE BER.',
 '\n\nThe UN/LOCODE for Athens, Greece is GR ATH. ',
 '\n\nThe UN/LOCODE for Budapest is HU BUD.',
 '\n\nThe UN/LOCODE for Dublin, Ireland is IE DUB.',
 '\n\nThe UN/LOCODE for Rome, Italy is IT ROM.',
 '\n\nThe UN/LOCODE for Riga, Latvia is LV RIX.',
 '\n\nLTVNO',
 '\n\nLU LUX. ',
 '\n\nThe UN/LOCODE for Valletta, Malta is MT MLA.',
 '\n\nThe UN/LOCODE for Amsterdam is NL AMS.',
 '\n\nPL WAW',
 ' \n\nThe UN/LOCODE for Lisbon, Portugal is PTLIS.',
 '\n\nThe UN/LOCODE for Bucharest, Romania is ROBUH.',
 '\n\nThe UN/LOCODE for Bratislava, Slovakia is SKBTS.',
 '\n\nThe UN/LOCODE for Ljubljana is SI LJU.',
 '\n\nThe UN/LOCODE for Madrid, Spain is ES MAD.',
 '\n\nSESTO ']

In [14]:
df = pd.DataFrame({'EU_Country': data['eu_country'], 'Capital_City': responses1, 'UN_Location_Code' : responses2})

In [15]:
df

,EU_Country,Capital_City,UN_Location_Code
0,Austria,\n\nThe capital city of Austria is Vienna.,"\n\nThe UN/LOCODE for Vienna, Austria is AT VIE."
1,Belgium,\n\nBrussels.,\n\nBE BRU
2,Bulgaria,\n\nSofia,"\n\nThe UN/LOCODE for Sofia, Bulgaria is BGSOF."
3,Croatia,\n\nThe capital city of Croatia is Zagreb.,"\n\nThe UN/LOCODE for Zagreb, Croatia is HR ZAG."
4,Cyprus,\n\nThe capital city of Cyprus is Nicosia.,"\n\nThe UN/LOCODE for Nicosia, Cyprus is CY NIC."
5,Czech Republic,\n\nThe capital city of Czech Republic is Prague.,"\n\nThe UN/LOCODE for Prague, Czech Republic i..."
6,Denmark,\n\nThe capital city of Denmark is Copenhagen.,"\n\nThe UN/LOCODE for Copenhagen, Denmark is D..."
7,Estonia,The capital city of Estonia is Tallinn.,"\n\nThe UN/LOCODE for Tallinn, Estonia is EETLL."
8,Finland,\n\nHelsinki,\n\nThe UN/LOCODE for Helsinki is FI HEL.
9,France,\n\nThe capital city of France is Paris.,"\n\nThe UN/LOCODE for Paris, France is FR PAR."
10,Germany,\n\nThe capital city of Germany is Berlin.,"\n\nThe UN/LOCODE for Berlin, Germany is DE BER."
11,Greece,\n\nThe capital city of Greece is Athens.,"\n\nThe UN/LOCODE for Athens, Greece is GR ATH."
12,Hungary,\nThe capital city of Hungary is Budapest.,\n\nThe UN/LOCODE for Budapest is HU BUD.
13,Ireland,\n\nThe capital city of Ireland is Dublin.,"\n\nThe UN/LOCODE for Dublin, Ireland is IE DUB."
14,Italy,\n\nThe capital city of Italy is Rome.,"\n\nThe UN/LOCODE for Rome, Italy is IT ROM."
15,Latvia,\n\nRiga is the capital and largest city of La...,"\n\nThe UN/LOCODE for Riga, Latvia is LV RIX."
16,Lithuania,\n\nVilnius.,\n\nLTVNO
17,Luxembourg,\n\nThe capital city of Luxembourg is Luxembou...,\n\nLU LUX.
18,Malta,\n\nThe capital city of Malta is Valletta.,"\n\nThe UN/LOCODE for Valletta, Malta is MT MLA."
19,the Netherlands,\n\nThe capital city of the Netherlands is Ams...,\n\nThe UN/LOCODE for Amsterdam is NL AMS.
20,Poland,\n\nThe capital city of Poland is Warsaw.,\n\nPL WAW
21,Portugal,\n\nThe capital city of Portugal is Lisbon.,"\n\nThe UN/LOCODE for Lisbon, Portugal is PTLIS."
22,Romania,\n\nThe capital city of Romania is Bucharest.,"\n\nThe UN/LOCODE for Bucharest, Romania is RO..."
23,Slovakia,\n\nThe capital city of Slovakia is Bratislava.,"\n\nThe UN/LOCODE for Bratislava, Slovakia is ..."
24,Slovenia,\n\nLjubljana,\n\nThe UN/LOCODE for Ljubljana is SI LJU.
25,Spain,\n\nThe capital city of Spain is Madrid.,"\n\nThe UN/LOCODE for Madrid, Spain is ES MAD."
26,Sweden,\n\nThe capital city of Sweden is Stockholm.,\n\nSESTO

In [167]:
# Save the data to a CSV file to then clean with Excel
df.to_csv('eu_countries_unlocode.csv', index=False)

In [168]:
# Import cleaned data from CSV file
data2 = pd.read_csv('eu_countries_unlocode_clean.csv')

In [169]:
data2

   UN_Location_Code      EU_Country     Capital_City  Region Eurozone
0             ATVIE         Austria           Vienna    West      Yes
1             BEBRU         Belgium         Brussels    West      Yes
2             BGSOF        Bulgaria            Sofia    East       No
3             HRZAG         Croatia           Zagreb   South      Yes
4             CZPRG  Czech Republic           Prague    East       No
5             DKCPH         Denmark       Copenhagen   North       No
6             EETLL         Estonia          Tallinn   North      Yes
7             FIHEL         Finland         Helsinki   North      Yes
8             FRPAR          France            Paris    West      Yes
9             DEBER         Germany          Berlin     West      Yes
10            GRATH          Greece       \n\nAthens   South      Yes
11            HUBUD         Hungary     \n\nBudapest    East       No
12            IEDUB         Ireland           Dublin   North      Yes
13            ITROM           Italy             Rome   South      Yes
14            LVRIX          Latvia             Riga   North      Yes
15            LTVNO       Lithuania      \n\nVilnius   North      Yes
16            LULUX      Luxembourg  Luxembourg City    West      Yes
17            MTMLA           Malta         Valletta   South      Yes
18            NLAMS     Netherlands        Amsterdam    West      Yes
19            PLWAW          Poland           Warsaw    East       No
20           PTLIS         Portugal         Portugal   South      Yes
21            ROBUH         Romania        Bucharest    East       No
22            SKBTS        Slovakia       Bratislava    East      Yes
23            SILJU        Slovenia        Ljubljana   South      Yes
24            ESMAD           Spain       \n\nMadrid   South      Yes
25            SESTO          Sweden        Stockholm  North        No

In [170]:
# Read data to be used on the Freightos API as the input
data2['UN_Location_Code']

0      ATVIE
1      BEBRU
2      BGSOF
3      HRZAG
4      CZPRG
5      DKCPH
6      EETLL
7      FIHEL
8      FRPAR
9      DEBER
10     GRATH
11     HUBUD
12     IEDUB
13     ITROM
14     LVRIX
15     LTVNO
16     LULUX
17     MTMLA
18     NLAMS
19     PLWAW
20    PTLIS
21     ROBUH
22     SKBTS
23     SILJU
24     ESMAD
25     SESTO
Name: UN_Location_Code, dtype: object

In [164]:
# Set the API key from secrets
api_key = os.getenv('FREIGHTOS_API_KEY')
# Endpoint URL for the Freight Rate Estimator API
url = 'https://api.freightos.com/api/v1/freightEstimates'

# Headers including the required API key
headers = {
    'Content-Type': 'application/json',
    'x-apikey': api_key
}

# request body for the Freight Rate Estimator API
# Only destination input is changed 1-by-1 
payload = {
  "load": [
    {
      "quantity": 1,
      "unitType": "boxes",
      "unitVolumeCBM": 0.1
    }
  ],
  "legs": [
    {
      "origin": {
        "unLocationCode": "USLAX",
        "airportCode": "LAX"
      },
      "destination": {
        "unLocationCode": "SESTO", 
        "airportCode": "STO"
      },
    }
  ]
}

response = requests.post(url, json=payload, headers=headers)

In [165]:
response.status_code

200

In [166]:
# Compile responses to one Excel file (1-by-1)
# CYNIC response unavailable
# FRPAR airportCode is CDG
# ITROM airportCode is FCO
# ROBUH airportCode is OTP
response.json()

{'AIR': {'priceEstimate': {'min': 27.27, 'max': 48.01}, 'transitTime': {}}}

In [2]:
# Import cleaned data from CSV files
eu_unlocodes_df = pd.read_csv('eu_countries_unlocode_clean.csv')
air_freight_price_estimate_df = pd.read_csv('air_freight_price_estimate.csv')

In [3]:
eu_unlocodes_df.head()

  UN_Location_Code      EU_Country Capital_City Region Eurozone
0            ATVIE         Austria       Vienna   West      Yes
1            BEBRU         Belgium     Brussels   West      Yes
2            BGSOF        Bulgaria        Sofia   East       No
3            HRZAG         Croatia       Zagreb  South      Yes
4            CZPRG  Czech Republic       Prague   East       No

In [12]:
air_freight_price_estimate_df.head()

,UN_Location_Code,Min_Price_Estimate_USD,Max_Price_Estimate_USD,AVG_Price_Estimate_USD
0,ATVIE,25.16,48.97,37.065
1,BEBRU,24.39,38.79,31.590
2,BGSOF,34.38,85.46,59.920
3,HRZAG,60.50,88.92,74.710
4,CZPRG,24.97,45.71,35.340

In [4]:
# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqldb://admin:isba_4715@isba-dev-01.cnuo66oue0ny.us-east-1.rds.amazonaws.com/sql_project')

In [6]:
# Save the cleaned data to a MySQL database
eu_unlocodes_df.to_sql('eu_unlocodes', engine, if_exists='replace', index=False)

26

In [5]:
# Save the cleaned data to a MySQL database
air_freight_price_estimate_df.to_sql('air_freight_price_estimate', engine, if_exists='replace', index=False)

26