In [3]:
# Import necessary libraries
import pandas as pd
%pip install SQLAlchemy
%pip install mysqlclient
from sqlalchemy import create_engine

Requirement already satisfied: SQLAlchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from SQLAlchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from SQLAlchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysqlclient in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Establish connection to the database
engine = create_engine(f'mysql+mysqldb://admin:isba_4715@isba-dev-01.cnuo66oue0ny.us-east-1.rds.amazonaws.com/sql_project')

## What is the average Logistics Performance Index score for each EU country for the years 2018 and 2023, and how do they rank against each other?

In [5]:
query1 = f"""
SELECT 
    c.Country, AVG(l.LPI_Score) AS Average_LPI_Score, DENSE_RANK() OVER (ORDER BY AVG(l.LPI_Score) DESC) AS 'Rank'
FROM 
    eu_countries c 
JOIN 
    lpi_data l ON c.CountryID = l.CountryID
GROUP BY 
    c.Country
ORDER BY 
    Average_LPI_Score DESC
"""
df1 = pd.read_sql(query1, engine)

In [6]:
df1

           Country  Average_LPI_Score  Rank
0          Germany              4.150     1
1          Finland              4.085     2
2      Netherlands              4.060     3
3          Denmark              4.045     4
4           Sweden              4.025     5
5          Belgium              4.020     6
6          Austria              4.015     7
7           France              3.870     8
8            Spain              3.865     9
9            Italy              3.720    10
10      Luxembourg              3.615    11
11          Poland              3.570    12
12         Ireland              3.555    13
13        Portugal              3.520    14
14  Czech Republic              3.490    15
15         Estonia              3.455    16
16          Greece              3.450    17
17         Hungary              3.310    18
18        Slovenia              3.305    19
19       Lithuania              3.210    20
20         Croatia              3.200    21
21          Cyprus              3.175    22
22        Slovakia              3.165    23
23         Romania              3.160    24
24          Latvia              3.155    25
25        Bulgaria              3.115    26
26           Malta              3.055    27

Insight: Germany has the highest LPI score among all the countries in the EU.

Recommendation: Establish Germany as the logistics center for product distribution in the EU.

Prediction: By strategically positioning logistics center in a country with a high LPI score, overall costs related to poor shipment handing should decrease. This could lead to improve margins and customer satisfaction.

In [7]:
df1.to_csv('Web_Scrape_q1.csv', index=False)

## How does the average GDP of EU countries correlate with their average LPI score for the years 2018 and 2023?

In [8]:
query2 = f"""
WITH AVG_LPI AS (
SELECT 
    CountryID, AVG(LPI_Score) AS Average_LPI_Score, AVG(Infrastructure_Score) AS Average_Infrastructure_Score
FROM 
    lpi_data
GROUP BY 
    CountryID
),
AVG_GDP AS (
SELECT 
    CountryID, AVG(GDP_Billions_of_USD) AS Average_GDP
FROM 
    gdp_data
GROUP BY 
    CountryID
)
SELECT  
    c.CountryID, c.Country, l.Average_LPI_Score, DENSE_RANK() OVER (ORDER BY l.Average_LPI_Score DESC) AS 'LPI_Rank', g.Average_GDP, DENSE_RANK() OVER (ORDER BY g.Average_GDP DESC) AS 'GDP_Rank'
FROM 
    eu_countries c
JOIN 
    AVG_LPI l ON c.CountryID = l.CountryID
JOIN 
    AVG_GDP g ON l.CountryID = g.CountryID
ORDER BY 
    GDP_Rank
"""
df2 = pd.read_sql(query2, engine)

In [9]:
df2

,CountryID,Country,Average_LPI_Score,LPI_Rank,Average_GDP,GDP_Rank
0,11,Germany,4.150,1,4190.590,1
1,10,France,3.870,8,2914.585,2
2,15,Italy,3.720,10,2130.970,3
3,26,Spain,3.865,9,1504.790,4
4,20,Netherlands,4.060,3,1003.635,5
5,21,Poland,3.570,12,713.995,6
6,2,Belgium,4.020,6,578.260,7
7,27,Sweden,4.025,5,577.560,8
8,14,Ireland,3.555,13,488.425,9
9,1,Austria,4.015,7,485.685,10
10,7,Denmark,4.045,4,378.845,11
11,23,Romania,3.160,24,294.225,12
12,9,Finland,4.085,2,287.940,13
13,6,Czech Republic,3.490,15,287.855,14
14,22,Portugal,3.520,14,254.310,15
15,12,Greece,3.450,17,228.765,16
16,13,Hungary,3.310,18,174.845,17
17,24,Slovakia,3.165,23,117.050,18
18,3,Bulgaria,3.115,26,82.920,19
19,18,Luxembourg,3.615,11,78.260,20
20,4,Croatia,3.200,21,69.845,21
21,17,Lithuania,3.210,20,65.825,22
22,25,Slovenia,3.305,19,61.085,23
23,16,Latvia,3.155,25,41.140,24
24,8,Estonia,3.455,16,36.155,25
25,5,Cyprus,3.175,22,27.675,26
26,19,Malta,3.055,27,16.985,27

Insight: Germany stays on top in terms of GDP and LPI.  

Recommendation: Capitalize on Germany's economy and logistics for business growth and expansion. 

Prediction: Increase presence in the EU.

In [10]:
df2.to_csv('Web_Scrape_q2.csv', index=False)